<html>
    <head>
        <link rel="stylesheet" href="/style/app.css">
        <script src="/scripts/angular.js"></script>
        <script src="/scripts/booksApp.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/scripts/chatController.js"></script>
    </head>
    <body ng-app="booksApp" ng-controller="chatController">
                <div class="w3-top vb-parent" style="background: darkseagreen; display: block;  overflow: hidden; width: 100%; height: 38px">
            <div class="w3-left">
                <span class="w3-button" ng-click="visitBooks()">BOOK-BOOK-BAKOOB</span>
            </div>

        <div class="w3-right">
            <span class="w3-button">Other</span>
            <span class="w3-button">Random</span>
            <span class="w3-button">Buttons</span>
            <span class="w3-button" ng-click="visitChat();"><b>CHAT</b></span>
        </div>


    </div>
        <div class="w3-main w3-content w3-padding vb-mobile">
            <div class="w3-right">
                Receive notifications for incoming messages <input type="checkbox" class="w3-check" ng-model="notificationEnabled">
            </div>
            <textarea class="w3-input" ng-model="msg.message" placeholder="Type in your message here."></textarea>
            <span class="w3-btn w3-right" ng-click="send()"><b>Send</b></span><br>
            
            <div ng-repeat="msg in messages track by $index">
                <b>{{msg.userName}}</b>: {{msg.message}}
            </div>
        </div>
        <link rel="import" href="/pageFooter.html">
    </body>
</html>