<html>
<head>
    <title>Books</title>
    <style>
    #bookcontainer{
        width: 1100px;
    }
    #bookscontainer li {
        float: left;
        width: 250px;
        margin: 20px;
    }
    </style>
    <script src="/scripts/angular.js"></script>
    <script src="/scripts/booksApp.js"></script>
    <script src="/scripts/booksController.js"></script>  
</head>

<body ng-app="booksApp" ng-controller="booksController">
    <span ng-if="error">What happened? Shit Happened. Bloody shit.</span>

    <input type="text" ng-model="search" ng-blur="hitIt()">
<div id="bookscontainer">

<!--
{{bookstodisplay}}
<br>
{{bookstodisplay.data[0].book}}
-->
<ul>
    <li ng-repeat="book in bookstodisplay">
        Name of the book bro: {{book.book}}<br>
        Total Upvotes: {{book.points}}<br>
        
        Issued ? {{book.issued}}
        to current user ? {{book.issuedToCurrentUser}}
        <a ng-click = 'createBookLink(book._id)'>Go to</a>

        
        
    </li>
</ul>
</div>


</body>
